.statsSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    border-bottom: none;
}

.statsSection > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.statsSection > div > h6 {
    margin: 0;
}

.react-icons {
    width: 30px;
    height: 30px;
}

.icon{
    padding: 5px;
}

.levelPanel {
    width: 100%;
}
.timePanel {
    width: 100%;
}

.errorsPanel {
    width: 100%;
}


/* For cellphones (up to 767px wide) */
@media only screen and (max-width: 767px) {
    /* Your CSS styles for cellphones go here */
    .statsSection {
        flex-direction: row;
        width: 100%;
        border-right: none;
        justify-content: center;
    }
    .statsSection > div{
        justify-content: center;
    }
    .levelPanel {
        width: 25%;
    }
    .timePanel {
        width: 50%;
    }
    
    .errorsPanel {
        width: 25%;
    }
  }
  
  /* For tablets (768px to 1023px wide) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your CSS styles for tablets go here */
    .statsSection{
        width: 30%;
    }
    .resultPanel {
        width: 30%;
    }
  }
  
  /* For PCs (1024px and wider) */
  @media only screen and (min-width: 1024px) {
    /* Your CSS styles for PCs go here */
    .statsSection{
        width: 20%;
    }

    .resultPanel {
        width: 20%;
    }
  }
