@font-face {
    font-family: 'Chalkboard';
    src: url('../../assets/fonts/Chalktastic-x1nR.ttf')
}

.board-container-v2 {

    background-color: wheat;
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.board-v2 {

    color: white;
    background-color: var(--chalkboard-color);
    font-family: 'Chalkboard';
    border: 5px solid lightgray;

    width: 50%;
    
    & header {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "student date"
            "title title";

        & .student {
            grid-area: student;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        & .date {
            grid-area: date;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        & .title {
            grid-area: title;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
    }

    & main.board-body {

        display: flex;
        flex-direction: row;

        & section.stats-panel ul{
            display: flex;
            text-decoration: none;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
            padding: 0;
    
            & li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
    
                & i {
                    padding: 10px;
                }

                & .react-icons{

                    font-size: 40px;
                    font-weight: bold;
                
                }
            }
        }

        & section.exercise-panel {
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
            width: 100%;

            & .pie-fraction {
               
                place-self: center;
                justify-self: center;
                align-self: center;
                width: 150px;
                height: 150px;

                & canvas {
                    width: 150px !important;
                    height: 150px !important;
                }

            }

            & .sum {
                font-size: 40px;
                text-align: center;
                align-self: center;
            }
            
        }
    } 


}


/* For cellphones (up to 767px wide) */
@media only screen and (max-width: 767px) {

}

/* For tablets (768px to 1023px wide) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
/* Your CSS styles for tablets go here */
    main.board-v2 {
        width: 100%;        
    }
}

/* For PCs (1024px and wider) */
@media only screen and (min-width: 1201px) {
/* Your CSS styles for PCs go here */

}