.problemSection > div {
    margin: 10px;
}

.problemSection {
    display: flex;
    flex-direction: column;
    width: stretch;
    justify-content: center;
    align-items: center;    
}

.procedurePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.resultText {
    text-align: center;
    margin: 0px;
}

.fractions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.pieFraction canvas {
    width: 100% !important;
    height: 100% !important;
    
}

.answerPanel {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.answerPanel button {
    background-color: var(--chalkboard-color);
    padding: 5px;
    border-radius: 10%;
    border: 2px dashed white;
    margin: 5px;
    width: min(100px, 20vw);
}

.resultPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* For cellphones (up to 767px wide) */
@media only screen and (max-width: 767px) {
    /* Your CSS styles for cellphones go here */
    .pieFraction {
        width: 25vw;
        height: 25vw;
    }
    
  }
  
  /* For tablets (768px to 1023px wide) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your CSS styles for tablets go here */
    .pieFraction {
        width: 200px;
        height: 200px;
    }
    .answerPanel {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
  }
  
  /* For PCs (1024px and wider) */
  @media only screen and (min-width: 1024px) {
    /* Your CSS styles for PCs go here */
    .pieFraction {
        width: 200px;
        height: 200px;
    }

    .problemSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .answerPanel {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .resultPanel {
        align-items: center;
        justify-content: space-between;
    }
    
  }
