.problemSection > div {
    margin: 10px;
}


.procedurePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px dashed white;
    padding: 20px;
}

.resultPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultText {
    text-align: center;
}

.fractions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.pieFraction canvas {
    width: 100% !important;
    height: 100% !important;
    
}

.answerPanel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.answerPanel button {

    
}

/* For cellphones (up to 767px wide) */
@media only screen and (max-width: 767px) {
    /* Your CSS styles for cellphones go here */
    .pieFraction {
        width: 150px;
        height: 150px;
    }
  }
  
  /* For tablets (768px to 1023px wide) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your CSS styles for tablets go here */
    .pieFraction {
        width: 200px;
        height: 200px;
    }
  }
  
  /* For PCs (1024px and wider) */
  @media only screen and (min-width: 1024px) {
    /* Your CSS styles for PCs go here */
    .pieFraction {
        width: 300px;
        height: 300px;
    }
  }
