* {

  background-color: black;
  
}

.Board{
  background-color: blueviolet;
  height: 600px;
  width: 100%;
  outline: 10px solid red;
}

.Title {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: none;
  
}