.title {
    display: grid;
    place-items: center;
    width: 100%;
    border-bottom: 5px dashed white;
    border-top: 5px dashed white;
    padding: 10px;
    
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}


.info > div > * {
    margin: 5px;
}

.dateInformation {
    justify-content: flex-end;
}

.dateInformation > * {
    text-align: end;
    text-overflow: hidden;
}