.problemSection {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "procedurePanel resultPanel"
        "procedurePanel resultPanel"
        "procedurePanel resultPanel";
    grid-area: problemSection;
    

}

.procedurePanel {
    grid-area: procedurePanel;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fractionsText{
    width: 100%;
    
}

.fractions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    align-items: center;
}

.procedurePanel > div{
    border: #ffffff 2px dashed;
}

.pieFraction {

    width: 40%;
    height: 40%;
    align-items: center;
    justify-content: center;
    display: flex;

}

.SymbolComponent {
    width: 40%;
    height: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Symbol {
    font-size: 3em;
}

.resultPanel {
    grid-area: resultPanel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.resultText{
    width: 100%;
}

.answerPanel{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}


input[type=number] {
    border: #ffffff 2px dashed;
    background: none;
    width: min-content;
}