.problemSection {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "procedurePanel resultPanel"
        "procedurePanel resultPanel"
        "procedurePanel resultPanel";
    grid-area: problemSection;
    

}

.procedurePanel {
    grid-area: procedurePanel;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.fractions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}


.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: stretch;
    height: stretch;
    font-size: larger;
    padding: 10px;
}

.pieFraction {
    width: min(99%, 150px);
    height: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media only screen and (max-width: 768px) {
    .fractions {
        display: flex;
        flex-direction: column;
        width: stretch;
        height: stretch;
        align-items: center;
        justify-content: start;
    }
}

.SymbolComponent {
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;

}


.resultPanel {
    grid-area: resultPanel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fractionsText{
    width: stretch;
    height: 20%;
    text-align: center;
    padding: 10px;
    
}

.fractionBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: stretch;
}

.resultText{
    width: stretch;
    height: 20%;
    padding: 10px;
}

.answerPanel{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 10px 10px;
    width: stretch;
    height: stretch;
    background: none;
}

.answerButton{
    width: 100%;
    height: 50%;
    background: none;
    color: #ffffff;
    border: 2px dashed #ffffff;
    border-radius: 30px;
}

.answerButton:hover:enabled {
    background: rgb(26, 50, 44);
}

.answerButton:active:enabled {
    transform: scale(0.9);
}

.answerButton:disabled{
    width: 100%;
    height: 50%;
    background: none;
    color: #bcbcbc;
    border: 2px dashed #bcbcbc;
    border-radius: 30px;
}

