.audio-container  {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.audio-container > *  {
  color: white;
  text-align: center;
    margin: 10px;
}

.audio-container > div  {
  border: 1px solid white;
  padding: 10px;
}